/.bundle/
/vendor/bundle/

*.gem
*.rbc
.bundle
.ruby-version
.ruby-gemset

/config/master.key
/config/credentials/*.key

.env
.env.*
!.env.example
!.env*.erb

/log/*
!/log/.keep

/tmp/*
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/tmp/cache/*
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/storage/*
!/storage/.keep

/db/*.sqlite3
/db/*.sqlite3-journal

/public/assets
/public/packs
/public/packs-test
/node_modules/

/coverage/
/spec/tmp/
/test/tmp/

.DS_Store
.idea/
.vscode/
*.swp
*.swo

/.byebug_history
/.yardoc
/doc/

.build/
